* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  max-height: 100vmin;
  max-width: 100vmin;
  width: fit-content;
  margin: auto;
  padding: 20px;
  top: 15vh;
  position: relative;
}
