.deck-listings {
  display: flex;
  flex-direction: column;
  max-height: 100vmin;
  max-width: 100vmin;
  height: 55vh;
  width: fit-content;
  margin: auto;
  padding: 3vh;
  top: 15vh;
  left: -0;
  position: fixed;
  background: white;
  border-radius: 0 10px 10px 0;
}
