.search-form {
  width: 300px;
  display: block;
  margin: auto;
  position: relative;
  top: 70vh;
}

.search-label {
  margin: auto;
  display: block;
  width: fit-content;
}

.search-card-name {
  width: 90%;
}

.search-button {
  width: 10%;
}
